.btn-xl {
  padding: 40px 40px;
  font-size: 40px;
  border-radius: 20px;
  width:100%;
}

#disableOverlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#chooseOverlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#disabled{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.base-timer {
  position: relative;
  left: 25%;
  width: 50%;
  height: 50%;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: fit-content;
  height: fit-content;
  top: 35%;
  left: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10vw;
}

.drawControlButton {
    width: 80%;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-left: 10%;
    margin-bottom: 1%;
}

.topnav {
  overflow: hidden;
  background-color: lightgray;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 15px 17px;
  text-decoration: none;
  font-size: 22px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: grey;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
      float: right;
      display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
  }
  .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
  }
}

.topnav-right {
  float: right;
}

.rainbow {
  
  /* Font options */
 text-shadow: 2px 2px 4px #000000;
 font-size:40px;
 
  /* Chrome, Safari, Opera */
 -webkit-animation: rainbow 5s infinite; 
 
 /* Internet Explorer */
 -ms-animation: rainbow 5s infinite;
 
 /* Standar Syntax */
 animation: rainbow 5s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
 0%{color: orange;}	
 10%{color: purple;}	
 20%{color: red;}
 30%{color: CadetBlue;}
 40%{color: yellow;}
 50%{color: coral;}
 60%{color: green;}
 70%{color: cyan;}
 80%{color: DeepPink;}
 90%{color: DodgerBlue;}
 100%{color: orange;}
}

/* Internet Explorer */
@-ms-keyframes rainbow{
  0%{color: orange;}	
 10%{color: purple;}	
 20%{color: red;}
 30%{color: CadetBlue;}
 40%{color: yellow;}
 50%{color: coral;}
 60%{color: green;}
 70%{color: cyan;}
 80%{color: DeepPink;}
 90%{color: DodgerBlue;}
 100%{color: orange;}
}

/* Standar Syntax */
@keyframes rainbow{
   0%{color: orange;}	
 10%{color: purple;}	
 20%{color: red;}
 30%{color: CadetBlue;}
 40%{color: yellow;}
 50%{color: coral;}
 60%{color: green;}
 70%{color: cyan;}
 80%{color: DeepPink;}
 90%{color: DodgerBlue;}
 100%{color: orange;}
}